<ion-app>
  <ion-menu contentId="main-content" *ngIf="userEmail">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item lines="none">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>{{ userEmail }}</ion-label>
      </ion-item>

      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/home" routerLinkActive="selected" routerDirection="root">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Accueil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/revenus" routerLinkActive="selected" routerDirection="root">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label>Apports</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/depenses" routerLinkActive="selected" routerDirection="root">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Dépenses</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/epargne" routerLinkActive="selected" routerDirection="root">
            <ion-icon name="save-outline" slot="start"></ion-icon>
            <ion-label>Épargne</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/deblock" routerLinkActive="selected" routerDirection="root">
            <ion-icon name="lock-open-outline" slot="start"></ion-icon>
            <ion-label>Deblock</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/courses" routerLinkActive="selected" routerDirection="root">
            <ion-icon name="basket-outline" slot="start"></ion-icon>
            <ion-label>Liste de courses</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/parametres" routerLinkActive="selected" routerDirection="root">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Paramètres</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item button (click)="logout()" detail="false">
            <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
            <ion-label color="danger">Déconnexion</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
