<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="showBackButton" defaultHref="/home"></ion-back-button>
      <ion-menu-button *ngIf="!showBackButton"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dépenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ajouter une dépense</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Catégorie</ion-label>
        <ion-select [(ngModel)]="depense.categorie">
          <ion-select-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Montant</ion-label>
        <ion-input type="number" [(ngModel)]="depense.montant"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Commentaire (facultatif)</ion-label>
        <ion-input [(ngModel)]="depense.commentaire"></ion-input>
      </ion-item>

      <ion-button expand="full" class="ion-margin-top" (click)="addDepense()">
        Enregistrer
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Historique des dépenses</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let t of depenses">
      <ion-item>
        <ion-label>
          <h3>{{ t.categorie }}</h3>
          <p>{{ t.date | date:'shortDate' }} - {{ t.commentaire }}</p>
        </ion-label>
        <ion-note slot="end" color="danger" (click)="editMontant(t)" style="cursor: pointer;">
          -{{ t.montant | currency:'XPF':'XPF ':'1.0-0' }}
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteDepense(t.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="depenses.length === 0">
      <ion-label class="ion-text-center">
        <p>Aucune dépense enregistrée</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
